.RowsNavigation {
  display: none;
  position: absolute;
  left: 100px;
  bottom: 30px;
}

.RowsNavigation.Detail {
  position: relative;
  left: 0;
  bottom: 0;
}

.RowsNavigation div {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.RowsNavigation div img {
  height: 13px;
}

.RowsNavigation div:last-of-type {
  margin-left: 10px;
}

@media (min-width: 1080px) {
  .RowsNavigation {
    display: flex;
  }
}

@media (min-width: 1920px) {
  .RowsNavigation {
    bottom: 82px;
  }
}
