.Details {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 45%;
  padding: 0;
  margin-bottom: 30px;
}

.Icon {
  display: flex;
  font-size: 10px;
  font-weight: bold;
  align-items: center;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.Icon img {
  height: 20px;
}

.Icon span {
  display: none;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .Details {
    justify-content: space-between;
    width: 45%;
  }
  .Icon {
    font-size: 14px;
  }
  .Icon span {
    display: block;
  }
}

@media (min-width: 1080px) {
  .Details {
    width: 55%;
  }
}