.DotNav {
  position: absolute;
  left: 20px;
  top: 25%;
  width: 2px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999999999;
  display: none;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
}

.Dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(-40%);
  transition: all ease-in-out 300ms;
}

.Active {
  width: 16px;
  height: 16px;
  transition: all ease-in-out 300ms;
}

@media screen and (min-width: 768px) {
  .DotNav {
    display: flex;
  }
}
