.Table {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

.List {
  padding: 0;
  margin: 0;
}

.TotalPrice {
  font-family: 'Helvetica neue', Helvetica, sans-serif;
  padding-right: 20px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.TotalPrice span {
  color: #959595;
  font-size: 18px;
  font-weight: bold;
}

.TotalPrice h3 {
  font-size: 30px;
  color: #4a4848;
  font-weight: bold;
  margin-left: 20px;
}

.BackButton {
  display: flex;
  font-family: 'Helvetica Neue';
  /* position: absolute; */
  margin-top: 40px;
  margin-bottom: 80px;
  bottom: 10px;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #1f86ff;
}

.BackButton span {
  margin-right: 10px;
}

.NoProducts {
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  align-items: center;
  height: 100%;
}
.NoProducts p {
  color: #1f86ff;
  cursor: pointer;
}

@media (min-width: 768px) {
  .Table {
    justify-content: space-between;
  }
  .List {
    margin: 30px;
    height: 450px;
    overflow-y: auto;
  }
  .TotalPrice {
    margin-right: 30px;
  }
  .BackButton {
    display: visible;
    font-family: 'Helvetica Neue';
    /* position: absolute; */
    bottom: 10px;
    left: 0;
    width: 80%;
    align-items: center;
    margin-top: inherit;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1080px) {
  .List {
    padding: 20px;
    scrollbar-width: none;
  }
  .BackButton {
    display: flex;
    position: absolute;
    left: 0px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    align-items: center;
    bottom: 30px;
    width: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
  }
}
