/* width */
::-webkit-scrollbar {
  width: 3px;
  transform: translateX(10px);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  transform: translateX(10px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transform: translateX(10px);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Histoire {
  display: flex;
  max-height: 350px;
  overflow-y: auto;
  color: white;
  line-height: 1.2rem;
  text-align: justify;
  scrollbar-width: thin;
  scrollbar-color: darkgray lightgray;
  scrollbar-darkshadow-color: #bebebe;
}

@media (min-width: 1080px) {
  .Histoire {
    max-height: 250px;
  }
}
