.Toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 20px;
  box-sizing: border-box;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

.Beside {
  width: 77px;
  margin: 0 70px 0 70px;
  display: flex;
  justify-content: space-between;
}

.Beside label {
  display: flex;
}

.Beside input:focus {
  position: absolute;
  transform: translateX(-110%);
  width: 30%;
  background-color: white;
  border: 2px solid white;
}

.Beside input {
  transition: all ease-in-out 250ms;
  width: 0;
  border-radius: 25px;
  background: transparent;
  border: none;
}

.Wrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 50%;
}

.DesktopOnly {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 100%;
}

@media (max-width: 499px) {
  .Toolbar {
    padding: 0 20px;
  }

  .Beside {
    width: 100%;
    margin: 0;
  }

  .DesktopOnly {
    display: none;
  }

  .Wrapper {
    flex: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
