.DrawerToggle {
  width: 20%;
  height: 44px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  border: 1px solid #f8cfc9;
  border-radius: 1px;
  background-color: #f8cfc9;
}

@media (min-width: 768px) {
  .DrawerToggle {
    width: auto;
  }
  .DrawerToggle div {
    width: 27px;
  }
}

@media (min-width: 1080px) {
  .DrawerToggle {
    display: none;
  }
}
