.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #F8CFC9;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition: all ease-in-out 250ms;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 2px solid #F8CFC9;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        height: 100%;
        width: auto;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
    }
    
}