.Button {
  border: 2px solid transparent;
  background: #f8cfc9;
  border-radius: 30px;
  padding: 10px;
  color: #303868;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  transition: all ease-in-out 350ms;
  text-align: center;
}


.Button:hover {
  background-color: #303868;
  color: #f8cfc9;
  border-color: #f8cfc9;
}

@media screen and (min-width: 500px) {
  .Button {
    background-color: #303868;
    color: #f8cfc9;
    min-width: 30%;
    max-width: 50%;
  }

  .Button:hover {
    color: #303868;
    background-color: #f8cfc9;
    border-color: #303868;
  }
}
