.Button {
  border: 2px solid transparent;
  background: #f8cfc9;
  border-radius: 30px;
  padding: 10px;
  max-width: 100%;
  color: #303868;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .Button {
    background-color: #303868;
    color: #f8cfc9;
    max-width: 50%;
  }
}
