.Button {
  border: 2px solid transparent;
  background: #f8cfc9;
  border-radius: 30px;
  padding: 10px;
  color: #303868;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 350ms;
  margin: auto;
  width: 100%;
  cursor: pointer;
}

.invert {
  filter: invert(100%);
}

.ButtonOverImage {
  width: 252px;
  background-color: #f8cfc9;
  color: #303868;
}

.ButtonOverImage {
  width: 252px;
  background-color: #f8cfc9;
  color: #303868;
  z-index: 999;
}

.ButtonOverImage:hover,
.Button:hover {
  background-color: #303868;
  color: #f8cfc9;
  border-color: transparent;
}

.Row {
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background-size: contain;
  background-image: url('../../../assets/images/nav/row2.svg');
  transition: all ease-in-out 350ms;
}

.ButtonOverImage:hover > .Row,
.Button:hover > .Row {
  background-image: url('../../../assets/images/nav/row.svg');
}

@media (min-width: 768px) {
  .Button {
    background-color: #303868;
    color: #f8cfc9;
    min-width: 192px;
    margin: 0;
    width: auto;
  }

  .Row {
    background-image: url('../../../assets/images/nav/row.svg');
  }

  .ButtonOverImage:hover > .Row,
  .Button:hover > .Row {
    background-image: url('../../../assets/images/nav/row2.svg');
  }

  .Button:hover {
    color: #303868;
    background-color: #f8cfc9;
  }
}

@media (min-width: 1080px) {
  .Button {
    border-radius: 80px;
    font-size: 22px;
    min-width: 214px;
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
    height: 69px;
  }

  .ButtonOverImage {
    width: 252px;
  }

  .ButtonDetail {
    position: absolute;
    width: 50%;
    transform: translateX(-100%);
  }

  .Row {
    width: 33px;
    height: 33px;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}
