.ModalWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(-5px);
  z-index: 99;
}

.Modal::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/modal/bg.png');
  box-shadow: 0px 0px 10px 2px #303868;
}

.Modal {
  position: relative;
  display: flex;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  background-color: rgb(30, 38, 68, 0.5);
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Close {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  border: 2px solid #f8cfc9;
  border-radius: 100px;
  box-sizing: border-box;
}

.Close img {
  width: 40%;
}

.ImageWrapper {
  --transform: scale(1.5);
}

.Message {
  color: #f8cfc9;
}

.Message h1 {
  font-family: 'Monserrat';
  font-weight: bold;
}

.Message p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.ButtonWrapper {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
}

.ButtonWrapper button {
  color: white;
  border-radius: 40px;
  border: none;
  flex-basis: 80%;
  height: 50px;
  background-color: #1f86fc;
}

@media (max-width: 767px) {
  .Modal {
    --justify-content: center;
    height: 80%;
  }

  .ImageWrapper {
    transform: translateY(20%) scale(0.8);
  }
  .Message {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .Modal {
    width: 80%;
    height: 50%;
    justify-content: space-evenly;
  }

  .ButtonWrapper button {
    flex-basis: 200px;
    font-size: 22px;
  }
}

@media (min-width: 1080px) {
  .Modal {
    width: 50%;
    height: 50%;
  }

  .ButtonWrapper button {
    flex-basis: 200px;
    font-size: 22px;
    font-weight: bold;
  }
}
