.DetailView {
  box-sizing: border-box;
  overflow-x: hidden;
  --position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 10px 10px 10px 10px;
  transform: translateY(0%);
  opacity: 1;
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  z-index: 1;
}

.Exit {
  animation: exit 1s ease-out both;
}

.Close {
  display: none;
  opacity: 0;
  animation: entrance 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.3s both;
  transition: all ease-in-out 1s;
  cursor: pointer;
  z-index: 109;
}

.DetailWrapper {
  width: calc(100vw - 20px);
  position: relative;
  height: 100%;
  border-radius: 15px;
  background-color: transparent;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* overflow: overlay; */
}

.DetailWrapper::before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(3, 15, 36, 0.281);
  mix-blend-mode: multiply;
  border-radius: 15px;
  z-index: -1;
}

.Shop.DetailView {
  width: calc(100vw - 20px);
}

.Content {
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
}

.ImageWrapper {
  height: 230px;
  background-color: transparent;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ImageCTA {
  display: none;
}

.TitleWrapper .Title {
  font-size: 35px;
  margin-bottom: 25px;
  color: white;
  font-family: 'Operetta 18';
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.TitleWrapper .Title.HistoireTitle {
  margin-bottom: 10px;
}

.Price {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: 'Helvetica', Helvetica, sans-serif;
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.Description {
  font-size: 12px;
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.DesktopControllers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.Price, .Title.TitleShop {
  color: #f8cfc9;
}

.ImageWrapper {
  width: 100%;
  min-height: 300px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-position: center;
}

/* .ImageWrapper div[class^='slick-dots'] {
  bottom: 15px;
} */

.ImageWrapper .SliderShop ul {
  bottom: 15px;
}

.ImageWrapper .SliderShop ul li button::before {
  font-size: 12px;
  color: white;
}

.ImageWrapper img {
  width: 100%;
}

.SimilarItems>div:last-of-type {
  display: none;
}

.ProductOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ProductOptions>div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CTA {
  display: none;
  margin-top: 20px;
}

/*
  Similar Items
*/

.SimilarItems div[class^='swiper-slide'] {
  opacity: 1;
  transform: scale(0.9);
  transition: all ease-in-out 300ms;
}

.SimilarItems div[class^='swiper-slide swiper-slide-active'] {
  transform: scale(1);
}

.SimilarItems div[class^='swiper-slide swiper-slide-prev'] {
  opacity: 0;
}

.Navigations {
  display: flex;
  justify-content: center;
  order: -2;
  margin-bottom: 20px;
}

.Shop.ImageWrapper .SliderShop {
  height: 100%;
}

.Shop.DesktopControllers>button:nth-child(1) {
  margin: 30px;
  width: 55%;
}

.Shop.DesktopControllers>button:nth-child(2) {
  width: 75%;
}

@media (min-width: 768px) {
  .ImageWrapper {
    min-height: 600px;
  }
  .DetailView {
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .Shop.DetailWrapper {
    /* max-height: 140%; */
    width: calc(100vw - 100px);
    min-height: 1224px;
    /* overflow: auto; */
  }
  .ImageWrapper {
    height: 259px;
  }
  .Shop.ImageWrapper {
    /* height: 400px; */
    height: 400px;
  }
  .DetailWrapper {
    height: 100%;
  }
  .Details {
    justify-content: space-between;
    width: 47%;
  }
  .TitleWrapper .Title {
    font-size: 32px;
    margin: 25px 0px;
  }
  .ProductOptions>div:first-of-type {
    margin: 25px 0px;
    justify-content: flex-start;
  }
  .SimilarItems {
    overflow: hidden;
    margin: 50px 0;
    width: calc(100% + 40px);
    mask-image: linear-gradient( to right, transparent, rgba(0, 0, 0, 1) 0.3%, rgba(0, 0, 0, 1) 70%, transparent);
    -webkit-mask-image: linear-gradient( to right, transparent, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 90%, transparent);
  }
  .SimilarItems>div:first-of-type {
    display: none;
  }
  .SimilarItems>div:last-of-type {
    display: flex;
    height: 147px;
  }
  .Shop.DesktopControllers {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-between;
  }
  .Shop.DesktopControllers>button:last-of-type {
    margin-left: 10px;
  }
  .Shop.CTA {
    display: none;
  }
  .Shop.DesktopControllers>button:nth-child(1) {
    margin: 0px;
    width: 35%;
  }
  .Shop.DesktopControllers>button:nth-child(2) {
    width: 50%;
  }
}

@media (min-width: 1080px) {
  .DetailView {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
  }
  .Shop.DetailView {
    display: flex;
    width: 100%;
    padding-top: 75px;
  }
  .DetailWrapper {
    position: relative;
    width: 70vw;
    height: 504px;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
  }
  .DetailWrapper::before {
    border-radius: 40px;
  }
  .Shop.DetailWrapper {
    /* width: 1029px; */
    width: 85vw;
    max-width: 1698px;
    height: 80vh;
    max-height: 831px;
    min-height: inherit;
  }
  .Shop.DetailWrapper .Content {
    margin-top: 2%;
    height: 88%;
    /* justify-content: center; */
    overflow: scroll;
    scrollbar-width: none;
  }
  .Shop.DetailWrapper .Content::-webkit-scrollbar {
    display: none;
  }
  .ImageWrapper {
    position: relative;
    flex-basis: 50%;
    height: 100%;
    border-radius: 40px 0 0 40px;
  }
  .Shop.ImageWrapper {
    height: 100%;
    min-height: inherit;
  }
  .Shop.ImageWrapper .SliderShop {
    height: 100%;
  }
  .ImageWrapper>div>div {
    --height: 100%;
    height: 100%;
    /* height: 505px; */
  }
  .ImageCTA {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 20px;
  }
  .Content {
    padding: 80px 40px 111px 40px;
    flex-basis: 50%;
    width: 50%;
    box-sizing: border-box;
  }
  .TitleWrapper .Title {
    line-height: 45px;
    font-size: 60px;
    line-height: 60px;
    width: 90%;
  }
  .TitleWrapper .Description {
    font-size: 16px;
  }
  .Price {
    margin: 10px 0;
  }
  .SimilarItems {
    margin: 15px 0;
    margin-bottom: -10px;
    width: calc(100% + 40px);
  }
  .CTA {
    display: none;
  }
  .Close {
    display: flex;
    position: absolute;
    opacity: 1;
    top: 25px;
    right: 25px;
    border: 2px solid #f8cfc9;
    padding: 10px;
    border-radius: 50%;
  }
  .Navigations {
    order: inherit;
    display: flex;
    /* justify-content: flex-end; */
    /* margin-top: 10%; */
    position: absolute;
    bottom: 15px;
    right: 35px;
  }
  .Shop.DesktopControllers {
    justify-content: initial;
    align-items: center;
  }
  .Shop.DesktopControllers>button:nth-child(1) {
    margin: inherit;
    width: inherit;
    margin-right: 5%;
    width: 50%;
  }
  .Shop.DesktopControllers>button:nth-child(2) {
    margin: inherit;
    width: inherit;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}