.DetailView {
  box-sizing: border-box;
  overflow-x: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  transform: translateY(0%);
  animation: entrance ease-in-out 300ms alternate;
  background-color: transparent;
  z-index: 1;
}

.Details {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  background: red;
}

.TitleWrapper {
  margin-bottom: 15px;
}

@keyframes entrance {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
