.DetailView {
  box-sizing: border-box;
  overflow-x: hidden;
  --position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 10px 10px 10px 10px;
  transform: translateY(0%);
  opacity: 1;
  animation: entrance 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  z-index: 1;
}

.Exit {
  animation: exit 1s ease-out both;
}

.Close {
  display: none;
  opacity: 0;
  animation: entrance 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.3s both;
  transition: all ease-in-out 1s;
  cursor: pointer;
  z-index: 109;
}

div[data-type='/notre-histoire'],
div[data-type='/visitez-nous'] {
  --background-image: url('../../assets/images/visitez_nous/bg_x1.png');
}

div[data-type='/boutique'] {
  --background-image: url('../../assets/images/boutique/bg_datail_boutique.png');
}

.DetailWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(24, 60, 119, 0.5);
  border-radius: 15px;
  margin: 0;
}

.Content {
  padding: 40px;
}

.ImageWrapper {
  height: 230px;
  background-color: darkgray;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.ImageCTA {
  display: none;
}
.TitleWrapper h1 {
  font-size: 35px;
  margin: 0;
  color: white;
}

.ImageWrapper img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.SimilarItems > div:last-of-type {
  display: none;
}

.ProductOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ProductOptions > div {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .DetailView {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ImageWrapper {
    height: 259px;
  }

  .DetailWrapper {
    height: 100%;
  }

  .Details {
    justify-content: space-between;
    width: 47%;
  }

  .TitleWrapper h1 {
    font-size: 32px;
  }

  .SimilarItems {
    overflow: hidden;
    margin: 50px 0;
  }

  .SimilarItems > div:first-of-type {
    display: none;
  }

  .SimilarItems > div:last-of-type {
    display: flex;
    height: 147px;
  }
}

@media (min-width: 1080px) {
  .DetailView {
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
  }

  .DetailWrapper {
    position: relative;
    width: 1029px;
    height: 505px;
    background-color: rgba(24, 60, 119, 0.6);
    display: flex;
    flex-direction: row;
    border-radius: 40px;
  }

  .ImageWrapper {
    position: relative;
    flex-basis: 50%;
    height: 100%;
    border-radius: 40px 0 0 40px;
  }

  .ImageCTA {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 20px;
  }

  .Content {
    flex-basis: 50%;
  }

  .SimilarItems {
    margin: 15px 0;
    padding-top: 50px;
  }

  .CTA {
    display: none;
  }

  .Close {
    display: flex;
    position: absolute;
    opacity: 1;
    top: 25px;
    right: 25px;
    border: 2px solid #f8cfc9;
    padding: 10px;
    border-radius: 50%;
  }

  .Navigations {
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
