.Content {
  height: 100vh;
}

.Brand {
  display: none;
  position: absolute;
  /* top: 0; */
  bottom: 8vh;
  right: 92px;
}

.Brand img {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .Content {
    --overflow: hidden;
  }
}

@media screen and (min-width: 1080px) {
  .Brand {
    display: block;
  }
}