.InfiniteSlider {
  width: 100%;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.Content {
  width: 100%;
  height: 100%;
}

.Image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .InfiniteSlider {
    animation: slide-in-right-big 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }
}

@media (min-width: 1080px) {
  .InfiniteSlider {
    height: 605px;
    animation: slide-in-right-big 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate(1000px, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 30%);
    opacity: 1;
  }
}

@keyframes slide-in-right-big {
  0% {
    transform: translate(1000px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 50px);
    opacity: 1;
  }
}
