.InfiniteSlider {
  height: 100%;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.CardWrapper {
  padding-top: 50px;
  --display: flex;
}

@media (min-width: 768px) {
  .InfiniteSlider {
    padding-top: 50px;
  }
}
/* 
@media (min-width: 1080px) {
  .InfiniteSlider {
    height: 605px;
    animation: slide-in-right-big 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate(1000px, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 30%);
    opacity: 1;
  }
}

@keyframes slide-in-right-big {
  0% {
    transform: translate(300px, 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 50px);
    opacity: 1;
  }
}

@keyframes slide-in-right-top {
  0% {
    transform: translate(300px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
*/

@keyframes slide-in-right {
  0% {
    transform: translate(1000px, 0%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0%);
    opacity: 1;
  }
}
