.InfiniteSlider {
  width: 100%;
  height: 50%;
  transform: translate(0, 30%);
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.Content {
  width: 100%;
  height: 100%;
}

.Image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

@keyframes slide-in-right {
  0% {
    transform: translate(1000px, 30%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 30%);
    opacity: 1;
  }
}
