.Checkout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100vw;
  opacity: 1;
  animation: entrance 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease-in-out 300ms;
  background-image: url('../../assets/detailView/bg_datail_boutique.png');
}

.Title {
  flex-basis: 100%;
  color: #183c77;
  font-family: 'Operetta-18';
  font-size: 35px;
}

.Exit {
  animation: exit 1s ease-out both;
}

.Close {
  display: none;
  opacity: 0;
  transition: all ease-in-out 1s;
  cursor: pointer;
  z-index: 109;
}

.CheckoutWrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 100px 0 25px 0;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Payment {
  background-color: #3c3c3c;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .Checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .Checkout > div {
    width: 100%;
  }

  .CheckoutWrapper {
    width: calc(100% - 20px);
    height: calc(100% - 150px);
    margin: 100px auto;
    padding: 20px;
    margin-bottom: 30px;
  }

  .Content {
    flex-direction: row;
    height: calc(100% - 100px);
  }

  .Content > div,
  .Content > section {
    flex-basis: 50%;
  }

  .Payment {
    max-width: 370px;
  }
}

@media (min-width: 1080px) {
  .Close {
    display: flex;
    position: absolute;
    opacity: 1;
    top: 25px;
    right: 25px;
    border: 2px solid #183c77;
    padding: 10px;
    border-radius: 50%;
  }

  .CheckoutWrapper {
    width: 85%;
    max-width: 1110px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .Title {
    font-size: 70px;
    margin: 0px;
  }

  .Content {
    transform: translateY(-40px);
    height: auto;
  }

  .Content > div {
    flex-basis: 80%;
  }
}

@media (min-width: 1900px) {
  .Content {
    transform: none;
    height: calc(100% - 100px);
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
