.Card {
  position: relative;
  width: 168px;
  height: 215px;
  --margin: 0 20px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/pastel-b33bc.appspot.com/o/Photo-%20Button-1.png?alt=media&token=39621686-0e7e-4427-af7e-1090606d9086");
  background-size: cover;
  background-color: lightgray;
  background-position: center;
  border-radius: 15px;
  box-sizing: border-box;
}

.Card {
  --transform: translateX(-50%);
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}

.Marker {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 80%;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

/* Card into detail view slider*/

.Card.DetailView .Marker {
  transform: translate(0px, 0px);
  font-size: 13px;
}

.Card.Card.DetailView {
  width: 268px;
  height: 147px;
}

.Marker .Title {
  margin: 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.Flag {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  width: 29px;
  height: 29px;
  background-image: url('../../../assets/card/flag.png');
  background-size: 7px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.Selected {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: transparent;
  cursor: pointer;
  z-index: 1;
}

/* .DetailView{
  width: 250px; 
  ma + 40
}

@media (min-width: 375px) {
  .Card {
    width: 187px;
    height: 215px;
  }
} */

@media (min-width: 768px) {
  .Marker {
    transform: translate(-20px, -115%);
  }
  .Marker.DetailView {
    transform: translate(0px, 0px);
    font-size: 13px;
  }
  .Card {
    border-radius: 30px;
    width: 224px;
    height: 339px;
  }
  .Flag {
    border-radius: 30px;
    width: 42px;
    height: 42px;
    background-size: 12px 15px;
  }
}

@media (min-width: 1080px) {
  .Marker {
    transform: translate(-20px, -115%);
  }
  .Card {
    border-radius: 40px;
    width: 202px;
    height: 305px;
  }
  .Card.Card.DetailView {
    width: 250px;
    height: 130px;
  }
  .Flag {
    border-radius: 40px;
    width: 38px;
    height: 38px;
    background-size: 14px;
  }
}

@media (min-width: 1920px) {
  .Card {
    width: 363px;
    height: 550px;
  }
}