.App {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: operetta-18, serif;
  font-style: normal;
  font-weight: 500;
}

.App::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  position: absolute;
  background-color: #f8cfc9;
}

.App > * {
  width: 100%;
}

.App > main > div {
  height: 100%;
}

.App .Wrapper {
  position: relative;
  width: 100vw;
  height: 100%;
}

.App .Wrapper > div {
  position: absolute;
  height: 100%;
}

.App div[class*='Page'] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App div[class='Page-appear'],
.App div[class='Page-enter'] {
  opacity: 0;
  z-index: 1;
}

.App div[class='Page-appear-active'],
.App div[class='Page-enter-active'] {
  opacity: 1;
  transition: all 300ms linear 150ms;
}

.App div[class='Page-exit'] {
  opacity: 1;
}

.App div[class='Page-exit Page-exit-active'] {
  opacity: 0;
  transition: all 150ms linear;
}
