.TicketDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TicketDetails label {
  margin-top: 10px;
  font-family: 'Helvetica neue', 'Helvetica', 'san-serif';
  font-size: 14px;
  color: #a0a0a0;
  width: 100%;
}

.TicketDetails input {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #626262;
}

.TicketDetails button {
  width: 100%;
  height: 69px;
  margin-top: 20px;
  font-size: 22px;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 40px;
  font-family: 'Helvetica neue', Helvetica, sans-serif;
  background-color: #1f86fc;
}
