.TicketDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TicketDetails h3 {
  margin: 10px 0;
}

.TicketDetails label {
  margin-top: 10px;
  font-family: 'Helvetica neue', 'Helvetica', 'san-serif';
  font-size: 10px;
  font-weight: 600;
  color: #a0a0a0;
  width: 100%;
}

.TicketDetails input {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #626262;
}

.PhoneInput {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #626262 !important;
  border-radius: 0 !important;
}

.PhoneDropdown {
  background-color: transparent !important;
  border: none !important;
}
