.TicketDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: scale-up-center 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.TicketDetails h3 {
  margin: 20px 0;
}

.TicketDetails label {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Helvetica neue', 'Helvetica', 'san-serif';
  font-size: 14px;
  font-weight: 600;
  color: #a0a0a0;
  width: 100%;
}

.TicketDetails input {
  background-color: transparent;
  padding: 12px 0px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #626262;
}

/* Radical css implementation due to bad selectors on library */

.PhoneInput {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #626262 !important;
  border-radius: 0 !important;
  width: 100% !important;
  margin-top: 18px !important;
}

.PhoneDropdown {
  background-color: transparent !important;
  border: none !important;
}

@media (min-width: 1080px) {
  .TicketDetails label {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .TicketDetails h3 {
    margin: 0;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
